.icon-button {
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.camera-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.camera-item {
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  justify-content: space-between;
  padding: 10px;
}

.view-map-button {
  font-size: 8px;
  color: rgb(0, 149, 255);
  background-color: #007bff;
  padding: 0;
  border: none;
}