/* Sidebar container */
.sidebar-container {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #002e83;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 2;
}

.sidebar-secondary-sidebar {
  z-index: 1;
}

.sidebar.collapsed {
  width: 60px;
}

/* Sidebar content */
.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Toggle button */
.sidebar-toggle-button-container {
  display: flex;
  justify-content: flex-end;
}

.sidebar-toggle-button {
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 10px;
  transition: color 0.3s ease;
}
.sidebar-toggle-button.active {
  color: #002e83;
  cursor: default;
}

/* Menu items */
.sidebar-menu-item {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-menu-item:hover {
  background-color: #f0f0f0;
}

.sidebar-menu-item:hover .sidebar-menu-icon {
  color: #002e83;
}

.sidebar-menu-item:hover .sidebar-menu-label {
  color: #002e83;
}

.sidebar-menu-item.selected {
  background-color: #f0f0f0;
}

.sidebar-menu-icon {
  margin-right: 10px;
  color: #fff;
  transition: color 0.3s ease;
}

.sidebar-menu-icon.selected {
  color: #002e83;
}

.sidebar-menu-label {
  font-size: 14px;
  font-weight: bold;
  color: white;
  min-width: max-content;
}

/* Spacer */
.spacer {
  flex-grow: 1;
}
