.tatar-management {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.tatar-management-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.tatar-management-title {
  text-align: start;
  margin: 0;
}

.add-tatar-button,
.add-officer-button {
  background-color: transparent;
  padding: 0;
  border: none;
  color: #002e83;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}

.add-tatar-form-container,
.officer-form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.officer-form-container {
  margin-bottom: 0;
}

.add-tatar-form,
.officer-form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.tatar-form-button-group {
  display: flex;
  gap: 10px;
}

.edit-patrol-point-hint {
  text-align: left;
  font-size: 11px;
  color: #bcbdc6;
}

.edit-patrol-point-count {
  text-align: right;
  font-size: 11px;
  color: #8f9098;
  font-size: 11px;
  margin-bottom: 5px;
}

.tatar-form-button {
  flex-grow: 1;
}

.tatar-form-cancel-button {
  display: flex;
  padding: 0;
  margin: 0;
  color: #002e83;
  background-color: transparent;
  border: none;
  font-size: 12px;
}

.tatar-form-submit-button {
  flex-grow: 2;
}

.tatar-form-button:disabled,
.tatar-edit-patrol-points-button:disabled,
.tatar-delete-tatar-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.separator {
  height: 1px;
  background-color: #e0e0e0;
  margin: 10px;
}

.tatar-list {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 50px;
}

.tatar-item {
  border: 1px solid #afd7f8;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.tatar-contents-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tatar-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 55%;
}

.tatar-name {
  font-weight: bold;
  font-size: 16px;
}

.tatar-email {
  font-size: 12px;
  color: #b8b9c2;
}

.tatar-coordinates {
  font-size: 12px;
  color: #b8b9c2;
}

.tatar-view-on-map-button,
.tatar-edit-patrol-points-button,
.tatar-delete-tatar-button,
.tatar-form-button {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 11px;
}

.tatar-edit-patrol-points-button {
  flex-grow: 1;
}

.tatar-delete-tatar-button {
  background-color: transparent;
  color: #9f1b1a;
}

.tatar-delete-tatar-button.confirm-delete-button {
  background-color: transparent;
  color: #9f1b1a;
}

.tatar-delete-tatar-button.cancel-button {
  background-color: transparent;
  color: #002e83;
}

.tatar-actions {
  display: flex;
  gap: 5px;
}

.dropdown-button {
  background-color: transparent;
  padding: 0;
  border: none;
  color: #002e83;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dropdown-icon {
  font-size: 14px;
}

.officer-list-header {
  display: flex;
  align-self: flex-end;
}

.officer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.officer-card {
  border: 1px solid #afd7f8;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.officer-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.officer-name {
  font-weight: bold;
}

.officer-badges {
  display: flex;
  gap: 10px;
}

.officer-badge {
  padding: 1px 3px;
  border-radius: 5px;
  font-size: 10px;
}

.officer-badge.shift-badge {
  background-color: #f1f8ff;
  color: #0b64c6;
}

.officer-card-button-group {
  display: flex;
  align-self: flex-end;
  gap: 10px;
}

.officer-card-button {
  background-color: transparent;
  padding: 0;
  border: none;
  color: #002e83;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.officer-card-button.delete-button {
  color: #9f1b1a;
}

.officer-card-button.confirm-delete-button {
  color: #9f1b1a;
  border: none;
  cursor: pointer;
}

.officer-card-button.cancel-button {
  color: #002e83;
  border: none;
  cursor: pointer;
}
