.tatar-management {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.tatar-management-title {
  text-align: start;
  margin: 0;
}

.tatar-list {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 50px;
}

.tatar-item {
  border: 1px solid #afd7f8;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.tatar-name {
  font-weight: bold;
  font-size: 16px;
}

.tatar-email,
.tatar-coordinates {
  font-size: 14px;
  color: #555;
}

.tatar-badges {
  display: flex;
  gap: 10px;
}

.badge {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.shift-badge {
  background-color: #f1f8ff;
  color: #0b64c6;
}

.tatar-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tatar-coordinates {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.action-button {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 11px;
}

.dropdown-button {
  background-color: transparent;
  padding: 0;
  border: none;
  color: #002E83;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dropdown-icon {
  font-size: 14px;
}

.officer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.officer-card {
  border: 1px solid #afd7f8;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.officer-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.officer-name {
  font-weight: bold;
}

.officer-badges {
  display: flex;
  gap: 10px;
}
