.patrols-page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 40px;
}

.patrols-title {
  text-align: start;
  margin: 0;
  margin-bottom: 10px;
}

.patrols-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.patrol-card {
  border: 1px solid #afd7f8;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.patrol-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.patrol-cluster-name {
  font-weight: bold;
  font-size: 16px;
}

.patrol-cluster-count {
  font-weight: normal;
}

.toggle-button {
  background-color: transparent;
  border: none;
  color: #002E83;
  cursor: pointer;
  font-size: 12px;
}

.patrol-status-groups {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.patrol-status-group {
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.patrol-status-group.ontime {
  background-color: #E7F9EA;
  color: #007217;
}

.patrol-status-group.late {
  background-color: #FDF8E4;
  color: #8F7100;
}

.patrol-status-group.expired {
  background-color: #FFEBEB;
  color: #9F1B1A;
}

.patrol-status-group.active {
  background-color: #F1F8FF;
  color: #0B64C6;
}

.patrol-status-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.patrol-status-name {
  font-weight: bold;
  font-size: 14px;
}

.patrol-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #1D1D1D;
}

.patrol-item {
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.patrol-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.patrol-item-title {
  font-weight: bold;
  font-size: 14px;
}

.patrol-item-timeliness-badge {
  background-color: #ababab;
  color: white;
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 11px;
  font-weight: bold;
}

.patrol-item-officer-name {
  font-weight: bold;
}

.patrol-item-details {
  font-size: 12px;
  color: #555;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.patrol-item-badges, .patrol-item-timestamps {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.patrol-item-intersections {
  display: flex;
  font-size: 10px;
  justify-content: space-between;
}

.patrol-item-intersection-count {
  font-weight: bold;
}

.patrol-item-bar-chart {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.patrol-item-bar {
  height: 100%;
  border-radius: 5px;
}

.patrol-badge {
  padding: 5px 10px;
  border-radius: 5px;
}

.patrol-badge.type-badge {
  font-size: 10px;
}

.patrol-badge.shift-badge {
  background-color: #f1f8ff;
  color: #0b64c6;
  font-size: 10px;
}

.patrol-badge.percentage-badge {
  font-size: 10px;
  background-color: #DDF3FF;
  color: #002E83;
  font-weight: bold;
  padding: 5px;
}

.patrol-item-button-group {
  display: flex;
  justify-content: space-between;
}

.patrol-item-view-on-map-button {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 11px;
}

.patrol-item-details-button {
  background-color: transparent;
  color: #002E83;
  font-size: 11px;
  cursor: pointer;
  border: none;
  padding: 0;
}

.patrol-details-page {
  max-height: 100vh;
  overflow-y: auto;
  padding: 20px;
}

.patrol-photo {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.patrol-item-mock-detections ul {
  list-style-type: disc;
  margin-left: 20px;
}

.patrol-item-mock-detections li {
  font-size: 14px;
}